@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border-bottom: 2px solid #dcdcdc;

    .item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;

        h1 {
            font-size: 1.5rem;
            color: #212529;
            font-weight: bolder;
        }
        span {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            cursor: pointer;
        }
    }

    img {
        width: 70px;
        height: 70px;
    }
}

.first-section {
    background-color: #049b70;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    img {
        width: 450px;
    }

    .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        h2 {
            font-size: 3rem;
            color: #fff;
            font-weight: bold;
            text-align: center;

            b {
                font-weight: bolder;
            }
        }
    }
}

.second-section {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 3rem 5rem;

    .item-top {
        border-bottom: 2px solid #0b1340;
        padding-bottom: 10px;
        h2 {
            color: #0b1340;
            font-weight: bold;
            font-size: 2rem;
        }
    }

    .item-list {
        padding: 2rem 0rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        .item {
            background-color: #f5f5f5;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            width: 24%;
            height: 450px;
        }
    }
}

.third-section {
    background-color: #049b70;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 10rem;

    .item {
        img {
            width: 40vw;
            border-radius: 6px;
        }

        h2 {
            color: #fff;
            font-size: 2rem;
            font-weight: bold;
            padding-bottom: 40px;
        }

        p {
            color: #fff;
            font-size: 1rem;
            font-weight: lighter;
            text-align: justify;
            line-height: 1.5;
        }
    }
}

.underline {
    text-decoration: underline;
}

.btn-outline {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 15px 40px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1rem;

    &:hover {
        background-color: #fff;
        color: #049b70;
    }
}

@media screen and (max-width: 768px) {
    header {
        .item {
            h1 {
                font-size: 1.2rem;
            }
            span {
                p {
                    display: none;
                }
            }
        }
    }

    .first-section {
        flex-direction: column-reverse;
        gap: 10px;

        img {
            width: 300px;
        }

        .item {
            padding: 20px;
            h2 {
                font-size: 2rem;
            }
        }
    }

    .second-section {
        padding: 2rem 3rem;

        .item-list {
            flex-direction: column;
            gap: 30px;
            .item {
                width: 100%;
            }
        }
    }

    .third-section {
        padding: 2rem 3rem;
        flex-direction: column-reverse;

        .item {
            h2 {
                padding-bottom: 10px;
            }
            img {
                width: 80vw;
            }
        }
    }
}
